<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ToDoAPI/style1.css' %}">
</head>
<body>
    <div class="container">
        <h1>Login Your Account</h1>

        <form action="/login" method="post">
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    <p class="error">{{ message }}</p>
                {% endfor %}
            {% endif %}
            <label>Username</label>
            <input type="text" name="username" required placeholder="abc123">

            <label>Password</label>
            <input type="password" name="password" required placeholder="Your password">

            <button type="submit">Login</button>
            
            <div class="links-row">
                <a class="register-link" href="/register">Don't have an account? Register</a>
                <a class="forgot-link" href="/register">Forgot Password?</a>
            </div>
        </form>
    </div>
</body>
</html>