<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/ToDoAPI/style2.css"> 
</head>
<body>
    <nav>
        <h1>Welcome</h1>
        <a href="{% url 'logout' %}">
            <button>Log Out</button>
        </a>
    </nav>
    
    <!-- Add new task -->
    <form method="post">
        {% csrf_token %}

        <input type="text" name="title" required placeholder="Task title">
        <button type="submit">Add task</button>
    </form>


    <!-- Todo list -->
    <ul>
        {% for todo in todos %}
        <li id="todo-{{ todo.id }}">
            <form method="post" action="{% url 'toggle' todo.id %}">
                {% csrf_token %}
                <input type="checkbox" name="completed" onchange="this.form.submit();" 
                {% if todo.completed %}
                checked
                {% endif %}>
                <span 
                {% if todo.completed %}
                style="text-decoration: line-through;"
                {% endif %}>
                    {{ todo.title }}
                </span>
            </form>
                <!-- Delete task-->
            <form method="post" action="{% url 'delete' todo.id %}">
                {% csrf_token %}
                <button type="submit" name="delete">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>


</body>
</html>