<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ToDoAPI/style2.css' %}"> 
</head>
<body>
    <nav>
        <h1>Welcome, {{ request.user.username|title }}</h1>
        <div>
            <form method="GET">
                <label>Search task:</label>
                <input type="hidden" name="filter" value="{{ filter_type }}">
                <input type="text" name="search" placeholder="Type for search task" value="{{ search }}">
                <button type="submit">Search</button>
            </form>
        </div>
        <a href="{% url 'logout' %}">
            <button>Log Out</button>
        </a>
        <a href="{% url 'profile' %}">
            <button>Profile</button>
        </a>
    </nav>

    <!-- Add new task -->
    <form method="post">
        {% csrf_token %}

        <input type="text" name="title" required placeholder="Task title">
        <input type="date" name="deadline" min="{% now 'Y-m-d' %}">
        <button type="submit">Add task</button>
    </form>

    <p>Total tasks: {{ total }}</p>
    <p>Completed: {{ completed }}</p>
    <p>Pending: {{ uncompleted }}</p>

    <div class="filter-btn">
        <form method="GET">
            <a href="{% url 'welcome' %}?filter=all&search={{ search }}">All</a>
            <a href="{% url 'welcome' %}?filter=completed&search={{ search }}">Completed</a>
            <a href="{% url 'welcome' %}?filter=pending&search={{ search }}">Pending</a>
        </form>
    </div>

    <!-- Edit task -->
    <ul>
        {% for todo in todos %}
        {% if todo.id == editing_id %}
            <li id="todo-{{ todo.id }}">
                <form method="post" action="{% url 'edit' todo.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="/welcome?search={{ search }}&filter={{ filter_type }}">
                    <input value="{{ todo.title }}" name="new_todo" required>
                    <input type="date" name="new_deadline" value="{{ todo.deadline|date:'Y-m-d' }}" min="{% now 'Y-m-d' %}">
                    {% if todo.deadline %}
                        <button type="submit" name="remove_deadline">Remove Deadline</button>
                    {% endif %}
                    <button type="submit">Save</button>
                </form>
                <a href="{% url 'welcome' %}?search={{ search }}&filter={{ filter_type }}">
                    <button>Cancel</button>
                </a>
            </li>
        <!-- Todo list -->
        {% else%}
        <li id="todo-{{ todo.id }}">
            <form method="post" action="{% url 'toggle' todo.id %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.get_full_path }}">
                <input type="checkbox" name="completed" onchange="this.form.submit();" 
                {% if todo.completed %}
                checked
                {% endif %}>
                <span 
                {% if todo.completed %}
                style="text-decoration: line-through;"
                {% endif %}>
                    {{ todo.title }}
                </span>
            </form>
                <!-- Edit task-->
            <a href="{% url 'edit' todo.id %}?search={{ search }}&filter={{ filter_type }}">
                <button>Edit</button>
            </a>
                <!-- Delete task-->
            <form method="post" action="{% url 'delete' todo.id %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.get_full_path }}">
                <button type="submit" name="delete">Delete</button>
            </form>
            {% if todo.deadline %}
                <span>Deadline:</span>{{ todo.deadline|date:"Y-m-d" }}
            {% endif %}
        </li>
        {% endif %}
        {% endfor %}
    </ul>


</body>
</html>